* {
   font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


body {
 font-family: "Pixelify Sans", sans-serif;
   background: #f0f0f0;
  margin: 0;
  padding: 20px;
}


.boxes{
     background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
   text-align: center;
  transition: transform 0.2s ease;
  cursor: pointer;
  padding: 9px;
}
.info{
     background: rgb(202, 202, 202);
     color: #000000bd;
     border-radius: 12px;
 
}
.Image img{
 width: 100%;
  display: block;
  border-radius: 12px;
}
.boxes:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.15);
}
.grid {
  display: grid;
   text-align: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 20px;
}

.data {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
    background: #fafafa;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
}

pre {
    font-family: monospace;
    background: #eaeaea;
    padding: 6px 10px;
    border-radius: 4px;
    display: inline-block;
}

.Members, .Dates, .Relations, .Locations {
    margin-top: 20px;
}

.Members h2, .Dates h2, .Relations h2, .Locations h2 {
    border-bottom: 2px solid #2980b9
}