<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>595</h2>
    <h1>hhhh</h1>
    <div>
        <h2>groupie tracker</h2>
    </div>
    <div>
      <ul>
          {{range .}}
            <div>
                <div>
                    {{.Image}}
                </div>
            {{.Name}}
            {{.CreationDate}}
            </div>
                
            {{end}}
      </ul>
        

    </div>
    
</body>
</html>