<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style/style.css">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
            rel="stylesheet">
    </head>
    <body>

        <div>
            <h2>groupie tracker</h2>
        </div>
        <div class="grid">

            {{range .}}

            <a href="/infos/{{.ID}}">
                <div class="boxes">
                    <div class="Image">
                        <img src="{{.Image}}" alt="Image">
                    </div>
                    <div class="info">
                        {{.Name}}
                        <br>
                        {{.CreationDate}}
                    </div>
                </div>
            </a>

            {{end}}

        </div>

    </body>
</html>